@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row  chuongtrinhs ">
    <h4>Đặc Trưng </h4>
    <h1>Các Chương Trình Học</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 py-2 chuongtrinh shadow">
            <img src="~/Upload/study.png" width="150px" height="100px" alt="" />
            <h4>Kỹ Năng Học Tập</h4>
            <p>
                Trái với quan điểm chung của số đông,
                Lorem Ipsum không phải chỉ là một đoạn văn bản
                ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác
                phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên,
                nghĩa là nó đã có khoảng hơn 2000 tuổi.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 py-2 chuongtrinh shadow">
            <img src="~/Upload/cognitive.png" width="150px" height="100px" alt="" />
            <h4>Kỹ Năng Học Tập</h4>
            <p>
                Trái với quan điểm chung của số đông,
                Lorem Ipsum không phải chỉ là một đoạn văn bản
                ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác
                phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên,
                nghĩa là nó đã có khoảng hơn 2000 tuổi.
            </p>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3 py-2 chuongtrinh shadow">
            <img src="~/Upload/bookshelf.png" width="150px" height="100px" alt="" />
            <h4>Kỹ Năng Học Tập</h4>
            <p>
                Trái với quan điểm chung của số đông,
                Lorem Ipsum không phải chỉ là một đoạn văn bản
                ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác
                phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên,
                nghĩa là nó đã có khoảng hơn 2000 tuổi.
            </p>
        </div>
        <div class="col-md-1"></div>

    </div>
    <div class="row py-5">
        <div class="col-md-3 py-2 chuongtrinh shadow">
            <img src="~/Upload/study.png" width="150px" height="100px" alt="" />
            <h4>Kỹ Năng Học Tập</h4>
            <p>
                Trái với quan điểm chung của số đông,
                Lorem Ipsum không phải chỉ là một đoạn văn bản
                ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác
                phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên,
                nghĩa là nó đã có khoảng hơn 2000 tuổi.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 py-2 chuongtrinh shadow">
            <img src="~/Upload/cognitive.png" width="150px" height="100px" alt="" />
            <h4>Kỹ Năng Học Tập</h4>
            <p>
                Trái với quan điểm chung của số đông,
                Lorem Ipsum không phải chỉ là một đoạn văn bản
                ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác
                phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên,
                nghĩa là nó đã có khoảng hơn 2000 tuổi.
            </p>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3 py-2 chuongtrinh shadow">
            <img src="~/Upload/bookshelf.png" width="150px" height="100px" alt="" />
            <h4>Kỹ Năng Học Tập</h4>
            <p>
                Trái với quan điểm chung của số đông,
                Lorem Ipsum không phải chỉ là một đoạn văn bản
                ngẫu nhiên. Người ta tìm thấy nguồn gốc của nó từ những tác
                phẩm văn học la-tinh cổ điển xuất hiện từ năm 45 trước Công Nguyên,
                nghĩa là nó đã có khoảng hơn 2000 tuổi.
            </p>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>