@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pt-5">
    <div class="new" >
        <h1 style ="font-weight:bold">Tin Tức </h1>
    </div>
    <hr />
</div>

<div class="container tintuc">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow m-2 " style="width:350px">
                <iframe width="350" height="250" src="https://www.youtube.com/embed/do-_5AKZsW4" title="Giáo dục hòa nhập cộng đồng cho bé" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h4 class="card-title">Cô Dạy Bé Tìm Hiểu Các Vật  </h4>
                    <p class="card-text">Giúp bé hiểu các vật thông qua trò chơi </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card shadow m-2 " style="width:350px">
                <iframe width="350" height="250" src="https://www.youtube.com/embed/oZN6mugVl-A" title="Giúp Bé Hoạt Động và Rèn Luyện Chơi Những Đồ Chơi Xung Quanh Bé" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="card-body">
                    <h4 class="card-title">Các Cô Hoạt Động Cùng Bé </h4>
                    <p class="card-text">Chơi với bé , cho bé cảm giác an toàn </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3">
            <div class="card shadow m-2 " style="width:350px">
                <img class="card-img-top" src="~/Upload/hinhtre2.png" alt="Card image" style="height:250px">
                <div class="card-body">
                    <h4 class="card-title">Đội Ngũ Cô Giáo  </h4>
                    <p class="card-text">Some Doe is an architect and engineer</p>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow m-2 " style="width:350px">
                <img class="card-img-top" src="~/Upload/hinhtre2.png" alt="Card image" style="height:250px">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some Doe is an architect and engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card shadow m-2 " style="width:350px">
                <img class="card-img-top" src="~/Upload/hinhtre2.png" alt="Card image" style="height:250px">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some Doe is an architect and engineer</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3">
            <div class="card shadow m-2 " style="width:350px">
                <img class="card-img-top" src="~/Upload/hinhtre2.png" alt="Card image" style="height:250px">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some Doe is an architect and engineer</p>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>




