@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container aboutus">
    <div class="row">
        <div class="col-md-6 my-auto text-white text-xl-left">
            <h3 class="header-one" style="color:tomato">Về Chúng Tôi </h3>
            <h1 class="header-one">
                Chào Mừng Đến Với Trung Tâm Hỗ Trợ  Phát Triển Giáo Dục Hoà Nhập
            </h1>
            <h5 class="text-dark mb-0">Chúng tôi cam kết dành cho con của bạn một môi trường hoàn hảo để phát triển toàn diện </h5>
        </div>
        <div class="col-md-6">
            <div class="positio-absolute rounded-circle end-4 top-0 mt-n4 shadow-lg d-xl-block d-none" style="background-image: url('https://images.unsplash.com/photo-1617176756162-447320192d98?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1180&amp;q=80');width: 600px;height: 600px; background-position: center;background-size: cover;">
            </div>
        </div>

    </div>
</div>
<div class="container shadow abouts">
    <h1>
        Lời Ngỏ
    </h1>
    <p>
        Kính gửi quý phụ huynh,

        Trung tâm hỗ trợ phát triển giáo dục hòa nhập Cỏ Ba Lá xin gửi đến quý phụ huynh lời chào trân trọng và sự tri ân tới quý vị đã tin tưởng và đồng hành cùng chúng tôi trong việc phát triển và giáo dục trẻ em.

        Trung tâm của chúng tôi được thành lập với mục đích hỗ trợ và phát triển năng lực cho trẻ em với khuyết tật, giúp đỡ các em có thể hòa nhập vào cộng đồng một cách hiệu quả và tự tin hơn trong cuộc sống. Chúng tôi cũng mong muốn tạo ra môi trường giáo dục và nuôi dưỡng trẻ em tốt nhất có thể, giúp các em phát triển toàn diện về mặt trí tuệ, tình cảm và kỹ năng sống.

        Đội ngũ giáo viên và nhân viên của trung tâm luôn nỗ lực hết mình để đảm bảo rằng các em được chăm sóc tốt nhất và được giáo dục một cách chu đáo và tận tâm nhất. Chúng tôi cũng luôn lắng nghe và đồng hành cùng quý phụ huynh trong quá trình giáo dục và phát triển của các em.

        Chúng tôi xin cảm ơn sự quan tâm và ủng hộ của quý phụ huynh đối với trung tâm trong suốt thời gian qua. Chúng tôi sẽ tiếp tục cố gắng và phấn đấu hết mình để mang lại những kết quả tốt đẹp nhất cho các em.

        Trân trọng,

        Trung tâm hỗ trợ phát triển giáo dục  hòa nhập Cỏ Ba Lá.
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>
                Đội Ngũ Nhân Viên
            </h1>
            <p>
                Trung tâm của chúng tôi tự hào có đội ngũ giáo viên và nhân viên làm việc chuyên nghiệp, có kinh nghiệm và đam mê trong lĩnh vực giáo dục và phát triển trẻ em.

                Các cô giáo tại trung tâm đều có trình độ đại học chuyên ngành giáo dục hoặc chuyên ngành liên quan đến trẻ em, nhiều người đã có nhiều năm kinh nghiệm giảng dạy và chăm sóc trẻ. Họ đã được đào tạo về các phương pháp giáo dục hiện đại và có kiến thức chuyên môn sâu rộng về phát triển trẻ em. Các cô giáo của chúng tôi luôn tận tâm, chuyên nghiệp và yêu trẻ, đặt lợi ích của các em lên hàng đầu.

                Ngoài ra, các nhân viên khác tại trung tâm cũng đều có kinh nghiệm và năng lực trong công việc của mình. Họ làm việc với tinh thần trách nhiệm và tận tụy, giúp đỡ các em và phụ huynh có được trải nghiệm tốt nhất tại trung tâm.

                Chúng tôi cam kết sử dụng những nguồn lực và kinh nghiệm của mình để giúp các em phát triển toàn diện và trở thành những người có ích cho xã hội.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Upload/hinhtre2.png" alt="" width="350px" height="350px" />

        </div>
        <div class="container ">
            <div class="row hinhanh py-5 ">
                <div>
                    <h2> Một Số Ảnh về Trường </h2>
                </div>
                <div class="col-md-3 pt-2">
                    <img src="~/Upload/cobala2.jpg" width="380px" height="240" alt="" />
                    <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 pt-2">
                    <img src="~/Upload/cobala3.jpg" width="380px" height="240" alt="" />
                    <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>

                </div>
                <div class="col-md-1"></div>

                <div class="col-md-3 pt-2">
                    <img src="~/Upload/cobala4.jpg" width="380px" height="240" alt="" />
                    <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>

                </div>
                <div class="col-md-1"></div>

            </div>
            <div class="row hinhanh py-5 ">

                <div class="col-md-3 pt-2">
                    <img src="~/Upload/cobala5.jpg" width="380px" height="240" alt="" />
                    <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 pt-2">
                    <img src="~/Upload/cobala6.jpg" width="380px" height="240" alt="" />
                    <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>


                </div>
                <div class="col-md-1"></div>

                <div class="col-md-3 pt-2">
                    <img src="~/Upload/cobala7.jpg" width="380px" height="240" alt="" />
                    <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>


                </div>
                <div class="col-md-1"></div>

            </div>

        </div>
    </div>
</div>