@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row lienhe" >
    <div class="">
        <h2>Liên Hệ </h2>
        <hr />
    </div>
</div>
<div class="row lienhes py-5">
    <h4>Đặc Trưng </h4>
    <h1>Các Thắc Mắc Xin Liên Hệ Với Chúng Tôi </h1>
</div>
<div class="container py-4">
    <div class="row">
        <div class="col-md-3 shadow rounded phones" >
            <div class="phone1">
                <img src="~/Upload/phone.png" width="50px" height="50px" alt="" />
                <h4>Phone</h4>
            </div>
            <a href="tel:0914134942">0914134942</a>
            <a href="tel:0338944557"> &nbsp;- 0338944557</a>

        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3 shadow rounded phones">
            <div class="phone1">
                <img src="~/Upload/gmail.png" width="50px" height="50px" alt="" />
                <h4>Gmail</h4>
            </div>
            <a href="mailto:trungtamcobala@gmail.com">trungtamcobala@gmail.com</a>
        </div>
        <div class="col-md-1"></div>
         <div class="col-md-3 shadow rounded phones" >
            <div class="phone1">
                <img src="~/Upload/destination.png" width="50px" height="50px" alt="" />
                <h4>Destination</h4>
            </div>
            <a href=" tel:0705060427">855/14 Nguyễn Duy Cung  Phường 12 Quận Gò Vấp  </a>
        </div>
        <div class="col-md-1"></div>

    </div>
</div>
<div class="row py-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.583473860572!2d106.63918611462314!3d10.843153492276265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175299b3139cacb%3A0xa46ff68807d32c5f!2zODU1LzE0IFF1YW5nIFRydW5nLCBQaMaw4budbmcgMTIsIEfDsiBW4bqlcCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1681140607572!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>