@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model Cobala.Models.Category
<div class="row">

    <div class="col-md-12 ml-5 m-5 ">
        <h1 class="mb-5" style="color:tomato">View Category </h1>
        <div class="row">


            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Status</th>
                </tr>
                @foreach (var category in ViewBag.categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td><a asp-controller="category" asp-action="edit" asp-route-id="@category.Id">Edit</a></td>
                        @*<td>@(category.Status ? "show" : "hide")</td>*@
                    </tr>
                }
            </table>

        </div>

    </div>
</div>