@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:150px">
    <h4 style="color:tomato; text-align:center;font-weight:bold"> Hội Chứng Down</h4>
    <hr />
</div>
<div class="container">
    <h4><b>🍀Bệnh Down là gì?</b></h4>
    <p>
        Bệnh Down, còn được gọi là hội chứng Down, là một rối loạn di truyền do có một bản sao thừa của một phần hoặc toàn bộ khối lượng gen trên cặp số 21 của các nhiễm sắc thể. Điều này dẫn đến sự phát triển chậm và khác biệt về hình dạng và chức năng của não và các cơ quan khác trong cơ thể.

        Các triệu chứng của bệnh Down có thể bao gồm:

        Tật khuyết tim và các vấn đề về tim mạch
        Suy giảm trí tuệ và khả năng học tập
        Trễ phát triển ngôn ngữ và kỹ năng xã hội
        Kích thước đầu nhỏ hơn so với trẻ bình thường
        Đôi mắt hơi lệch và cúm mày rộng
        Tình trạng sức khỏe không ổn định, dễ bị nhiễm trùng hô hấp hoặc tim mạch.
        Bệnh Down là một rối loạn di truyền phổ biến và thường xảy ra ngẫu nhiên khi tế bào trứng hoặc tinh trùng có số lượng nhiễm sắc thể bất thường gặp phải một lỗi trong quá trình phân li và kết hợp. Không có cách nào để ngăn ngừa bệnh Down, nhưng các phương pháp khám thai và xét nghiệm trước sinh giúp phát hiện bệnh sớm và cho phép gia đình chuẩn bị cho sự ra đời của em bé một cách tốt nhất.
    </p>
    <h4><b>🍀Nguyên nhân bệnh Down</b></h4>
    <p>
        Bệnh Down là do có một bản sao thừa của một phần hoặc toàn bộ khối lượng gen trên cặp số 21 của các nhiễm sắc thể. Nguyên nhân của sự xuất hiện của bản sao thừa này không được hiểu rõ, nhưng nó được xem là do lỗi trong quá trình phân li của tế bào trứng hoặc tinh trùng trong quá trình phát triển của em bé.

        Các yếu tố tăng nguy cơ cho bệnh Down bao gồm:

        Tuổi của mẹ: nguy cơ của bệnh Down tăng theo tuổi của mẹ. Trong khi nguy cơ ở phụ nữ dưới 35 tuổi là khoảng 1/1000, nhưng ở phụ nữ trên 40 tuổi, nguy cơ tăng lên khoảng 1/100.
        Di truyền: có một số trường hợp bệnh Down được di truyền trong gia đình, đặc biệt là khi có người trong gia đình đã mắc bệnh này trước đó.
        Tác nhân môi trường: một số tác nhân môi trường, như phóng xạ và các chất hóa học độc hại, có thể gây hại cho tế bào và làm tăng nguy cơ cho bệnh Down, tuy nhiên tác động này hiếm khi xảy ra.
        Tuy nhiên, đa số các trường hợp bệnh Down xảy ra ngẫu nhiên và không liên quan đến bất kỳ yếu tố nào.
    </p>
    <h4><b>🍀 Triệu chứng bệnh Down</b></h4>
    <p>
        Bệnh Down là một rối loạn di truyền và có thể gây ra các triệu chứng khác nhau. Một số triệu chứng chính của bệnh Down có thể bao gồm:

        Tật khuyết tim và các vấn đề về tim mạch, bao gồm lỗ tim, van tim không đóng kín hoặc bất thường về cấu trúc của tim.
        Suy giảm trí tuệ và khả năng học tập: trẻ em bị bệnh Down thường có trí tuệ thấp hơn so với trẻ em bình thường và thường gặp khó khăn trong việc học tập và phát triển kỹ năng xã hội.
        Trễ phát triển ngôn ngữ và kỹ năng xã hội: trẻ em bị bệnh Down thường trễ phát triển kỹ năng ngôn ngữ, giao tiếp và kỹ năng xã hội.
        Kích thước đầu nhỏ hơn so với trẻ bình thường.
        Đôi mắt hơi lệch và cúm mày rộng: mắt của trẻ em bị bệnh Down thường có kích thước nhỏ hơn và đặc biệt có dấu hiệu lệch nhau. Các cúm mày của trẻ cũng thường rộng và xuống thấp.
        Tình trạng sức khỏe không ổn định, dễ bị nhiễm trùng hô hấp hoặc tim mạch.
        Tuy nhiên, mỗi trường hợp bệnh Down là độc nhất và có thể có các triệu chứng khác nhau, do đó, nếu bạn có bất kỳ lo lắng hoặc nghi ngờ nào về sức khỏe của con em mình, bạn nên tham khảo ý kiến ​​của bác sĩ chuyên khoa để được tư vấn và khám phá một cách kỹ lưỡng.
    </p>
    <h4><b>🍀Các biện pháp điều trị bệnh Down</b></h4>
    <p>
        Hiện tại, không có phương pháp điều trị hoàn toàn cho bệnh Down. Tuy nhiên, các biện pháp sau có thể được sử dụng để hỗ trợ và giúp cải thiện chất lượng cuộc sống của người bị bệnh Down:

        Giáo dục và hỗ trợ giáo dục: Giáo dục đặc biệt và các dịch vụ hỗ trợ giáo dục có thể giúp trẻ bị bệnh Down phát triển các kỹ năng cần thiết để sống độc lập và hỗ trợ họ trong việc tham gia vào xã hội.

        Chăm sóc y tế: Các vấn đề sức khỏe thường gặp liên quan đến bệnh Down bao gồm tật tim bẩm sinh và các vấn đề tiêu hóa, do đó, việc theo dõi và điều trị các vấn đề y tế liên quan đến bệnh Down rất quan trọng.

        Điều trị các rối loạn liên quan: Nếu trẻ bị bệnh Down có các rối loạn liên quan như rối loạn tâm lý, rối loạn giảm thể chất hoặc các vấn đề xương khớp, điều trị thích hợp cần được áp dụng.

        Hỗ trợ tâm lý và xã hội: Hỗ trợ tâm lý và xã hội có thể giúp cho người bị bệnh Down phát triển kỹ năng xã hội và cải thiện sự tự tin.

        Ngoài ra, người bệnh Down cần được chăm sóc đầy đủ, cung cấp cho họ một môi trường an toàn, ấm áp và chứa đầy tình yêu thương để giúp họ phát triển và sống tốt nhất có thể.
    </p>
    <div style="text-align:center">
        <img src="~/Upload/cobala5.jpg" width="350" height="350" alt="" />
    </div>
</div>