@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="">
    <div class="page-header">
        <span class="mask bg-gradient-info opacity-4"></span>
        <div class="container aboutus">
            <div class="row">
                <div class="col-lg-6 my-auto text-white text-xl-left">
                    <h1 class="header-one">
                        Trung Tâm Hỗ Trợ Phát Triển Giáo Dục Hòa Nhập  <br /> Cỏ Ba Lá
                    </h1>
                    <h5 class="text-dark mb-0">Chúng tôi cam kết dành cho con của bạn một môi trường hoàn hảo để phát triển toàn diện </h5>
                    <a>Những đối tượng cần can thiệp  </a>
                </div>
                <div class="col-lg-6">
                    <div class="positio-absolute rounded-circle end-4 top-0 mt-n4 shadow-lg d-xl-block d-none" style="background-image:url('/Upload/cobala3.jpg'); width: 600px;height: 600px; background-position: center;background-size: cover;">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row header-bar ">
            <div class="col m-3 border border-danger shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/textbook.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5>Trẻ Tự Kỉ  </h5>
                    </div>
                </div>
                <p>
                    Trẻ tự kỉ là một rối loạn phát triển não bộ có thể ảnh hưởng đến khả năng giao tiếp, tương tác xã hội và hành vi của trẻ. Trẻ tự kỉ thường có khả năng tập trung vào chi tiết, quan tâm đến một số mối quan tâm đặc biệt, và thường khó khăn trong việc giao tiếp và tương tác với người khác.
                 <br />   <a asp-controller="home" asp-action="tretuki"> Xem  Thêm </a>
                </p>

            </div>
            <div class="col m-3 border border-primary shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/hinhsinhnhat.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5>Chậm Phát Triển Trí Tuệ  </h5>
                    </div>
                </div>
                <p>
                    Trẻ chậm phát triển trí tuệ có thể là dấu hiệu của nhiều vấn đề khác nhau, bao gồm vấn đề dinh dưỡng, y tế hoặc khó khăn trong việc phát triển não bộ. Để giải quyết vấn đề này, bạn nên tìm kiếm sự hỗ trợ và tư vấn từ các chuyên gia như bác sĩ trẻ em, nhà giáo dục, chuyên gia tâm lý hoặc nhà dinh dưỡng.
                    <br /><a asp-controller="home" asp-action="champhattrientritue"> Xem  Thêm </a>
                </p>

            </div>
            <div class="col m-3 border border-success shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/textbook.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5>Rối Loạn Ngôn Ngữ </h5>
                    </div>
                </div>
                <p>Các triệu chứng của rối loạn ngôn ngữ có thể bao gồm khó khăn trong việc hiểu ngôn ngữ, sử dụng từ ngữ và câu trúc phức tạp, khó khăn trong việc duy trì cuộc trò chuyện, và khó khăn trong việc phát triển kỹ năng đọc và viết.
                    <br /><a asp-controller="home" asp-action="roiloanngonngu"> Xem  Thêm </a>

                </p>

            </div>
            <div class="col m-3 border border-warning shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/hinhsinhnhat.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5>Chậm Nói  </h5>
                    </div>
                </div>
                <p>
                    Có nhiều nguyên nhân có thể dẫn đến việc trẻ chậm nói hoặc chận nói, ví dụ như:

                    Yếu tố di truyền: Một số trẻ có thể có yếu tố di truyền dẫn đến khó khăn trong việc phát triển ngôn ngữ.
                    Kỹ năng phát triển ngôn ngữ chậm. <br />
                    Vấn đề thính giác.<br />
                    <br /><a asp-controller="home" asp-action="chamnoi"> Xem  Thêm </a>

                </p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row header-bar">
            <div class="col m-3 border border-danger shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/textbook.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5>Tăng Động Giảm Chú Ý (ADHD) </h5>
                    </div>
                </div>
                <p>
                    Rối loạn tăng động giảm trú ý có thể gây ra các triệu chứng như: <br />
                    Khó tập trung. <br />
                    Không thể kiểm soát hành vi.<br />
                    Tăng động.<br />
                    Không kiểm soát được cảm xúc.<br />
                    Khó thích nghi với môi trường xung quanh.<br />
                    <br /><a asp-controller="home" asp-action="tangdonggiamchuy"> Xem  Thêm </a>

                </p>

            </div>
            <div class="col m-3 border border-primary shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/hinhsinhnhat.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5>Khó Khăn Học Tập <br /> (khó đọc khó viết )</h5>
                    </div>
                </div>
                <p>
                    Nguyên nhân của khó đọc và khó viết có thể do nhiều yếu tố khác nhau, bao gồm:<br />
                    -Rối loạn học tập.<br />
                    -Yếu tố di truyền.<br />
                    -Vấn đề sức khỏe.<br />
                    -Môi trường học tập.<br />
                    <br /><a asp-controller="home" asp-action="khokhanhoctap"> Xem  Thêm </a>

                </p>

            </div>
            <div class="col m-3 border border-success shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/textbook.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5> Trẻ Hòa Nhập Cuộc Sống </h5>
                    </div>
                </div>
                <p>
                    Để trẻ có thể hòa nhập tốt với cuộc sống, có thể áp dụng một số biện pháp như sau:<br />
                    -Tạo điều kiện cho trẻ tương tác với các trẻ khác cùng lứa tuổi.<br />
                    -Khuyến khích trẻ tham gia các hoạt động ngoại khóa.<br />
                    -Hướng dẫn trẻ rèn luyện kỹ năng tự chăm sóc bản thân.<br />
                    -Tạo cơ hội cho trẻ tham gia các hoạt động cộng đồng.<br />
                    -Điều chỉnh môi trường học tập phù hợp.<br />
                    <br /><a asp-controller="home" asp-action="trehoanhapcuocsong"> Xem  Thêm </a>

                </p>
            </div>
            <div class="col m-3 border border-warning shadow-lg p-3 mb-5 bg-white rounded border-radius-lg z-index-2">
                <div class="d-flex align-items-center">
                    <img src="~/Upload/hinhsinhnhat.png" width="50px" height="50px" alt="" />
                    <div class="">
                        <h5>Hội Chứng Down </h5>
                    </div>
                </div>
                <p>
                    Hội chứng Down là một rối loạn di truyền được gây ra bởi sự bất thường về số lượng và cấu trúc của các nhiễm sắc thể. Hội chứng Down thường gây ra những ảnh hưởng nghiêm trọng đến sức khỏe và phát triển của trẻ.<br />

                    Tuy nhiên, với sự hỗ trợ và chăm sóc đúng cách từ gia đình, nhà trường và các chuyên gia y tế, trẻ bị hội chứng Down có thể phát triển tốt và sống một cuộc sống đầy ý nghĩa.
                    <br /><a asp-controller="home" asp-action="hoichungdown"> Xem  Thêm </a>

                </p>

            </div>
        </div>
    </div>
    <div class="container" style="background-color:aliceblue">
        <div class="row p-5">
            <div class="col-md-1">
                <img src="~/Upload/hinhbuom.png" width="50px" height="50px" alt="" />

            </div>
            <div class="col-md-10 program">
                <h5 style="color:hotpink">Đặc Trưng </h5>
                <h1 style="color:#393d72">Các Chương Trình Học </h1>
                <div class="row education ">
                    <div class=" m-2 bg-light border-success shadow  ">
                        <img src="~/Upload/school-bag.png" width="80px" height="80px" alt="" />
                        <h5 style="color:forestgreen">Chương trình học của  trung tâm Cỏ Ba Lá  </h5>
                        <p>
                            <b>  🍀 CHƯƠNG TRÌNH DẠY PHỤ THUỘC VÀO TÌNH TRẠNG CỦA MỖI BÉ , CÁC CÔ SẼ KÈM THEO SÁT ĐỂ BÉ CÓ THỂ HÒA NHẬP VỚI CỘNG ĐỒNG <br /></b>
                            🍀 Hỗ trợ học tập đặc biệt: Bao gồm việc giảng dạy kỹ năng đọc, viết, tính toán và các kỹ năng học tập khác một cách dễ hiểu và có cấu trúc.<br />
                            🍀 Hỗ trợ phát triển kỹ năng xã hội: Bao gồm giúp trẻ học cách giao tiếp và tương tác với người khác, rèn luyện kỹ năng giải quyết xung đột và kỹ năng thích ứng với môi trường xã hội khác nhau.<br />
                            🍀 Hỗ trợ phát triển kỹ năng sống: Bao gồm giúp trẻ học cách tự chăm sóc bản thân, quản lý thời gian và cân bằng cuộc sống, rèn luyện kỹ năng tư duy logic và sáng tạo.<br />
                            🍀 Hỗ trợ phát triển năng lực vận động: Bao gồm các hoạt động thể chất như bơi lội, chạy, nhảy, tập yoga, rèn luyện tay chân mắt và các kỹ năng vận động khác để tăng cường sức khỏe và phát triển năng lực cơ thể.<br />
                            👉👉Ngoài ra, chương trình học cần được thiết kế đồng bộ và linh hoạt để đáp ứng nhu cầu và sự tiến bộ của từng trẻ em, đồng thời cần phải được áp dụng bởi các giáo viên và chuyên gia có trình độ và kinh nghiệm để đảm bảo hiệu quả và đạt được mục tiêu phát triển của trẻ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>

    <div class="row">
        <div class="commentpas">
            <h5>Đặc Trưng </h5>
            <h1>Phụ Huynh Nói Gì </h1>
        </div>
        <div class="container p-3 pr">
            <div class="row p-3">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 hinhphuhuynh">
                    <img src="~/Upload/hinhphuhuynh3.jpg" width="" height="120px" alt="" />

                </div>
                <div class="col-md-8  p-2 commentpel">
                    <h5>
                        Anh Trọng Nghĩa <br />
                       
                    </h5>
                    <h6> Nhà thiết kế phần mềm Phụ huynh bé Phương Lan</h6>
                    <p>
                        Cô giáo dạy tốt và đã giúp trẻ phát triển ngôn ngữ một cách hiệu quả. Ba bé  hài lòng với tiến độ học tập của con mình và cảm thấy yên tâm khi biết rằng cô giáo đang làm việc chăm chỉ để giúp trẻ phát triển.
                    </p>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="container p-3">
            <div class="row p-3">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 hinhphuhuynh">
                    <img src="~/Upload/hinhphuhuynh3.jpg" width="" height="120px" alt="" />

                </div>
                <div class="col-md-8 p-2  commentpel">
                    <h5>
                        Chị  Đào Oanh 
                    </h5>
                    <h6>
                        Thạc sỹ Nghệ Thuật,Nhà thiết kế thời trang
                        Phụ huynh bé Tâm
                    </h6>
                    <p>
                        Phụ Huynh đánh giá cao sự giúp đỡ và cố gắng của cô giáo trong quá trình giảng dạy con học viết chữ. Họ có thể cảm thấy đáng tin cậy và có niềm tin vào việc giáo viên đang dạy và chăm sóc con một cách nghiêm túc.
                    </p>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="container p-3">
            <div class="row p-3">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 hinhphuhuynh">
                    <img src="~/Upload/hinhphuhuynh3.jpg" width="" height="120px" alt="" />

                </div>
                <div class="col-md-8  p-2 commentpel">
                    <h5>
                        Anh Huỳnh Tấn Trọng 
                    </h5>
                    <h6>
                        Làm về công an huyện 
                        Phụ huynh bé Khánh An
                    </h6>
                    <p>
                        Phụ huynh đánh giá cao sự giúp đỡ của cô giáo trong việc tạo ra một môi trường học tập và xã hội tích cực để trẻ có thể phát triển các kỹ năng xã hội.Tôi cảm thấy an tâm khi biết rằng con mình đang được hướng dẫn và hỗ trợ để trở thành một thành viên tích cực và đóng góp cho cộng đồng.
                    </p>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
    @* hinh anh ve truong *@
    <div class="container ">
        <div class="row hinhanh py-5 ">
            <div style="text-align:center">
                <h2> Một Số Ảnh về Trường </h2>
            </div>
            <div class="col-md-3 pt-2">
                <img src="~/Upload/cobala2.jpg" width="350px" height="240" alt="" />
                <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 pt-2">
                <img src="~/Upload/cobala3.jpg" width="350px" height="240" alt="" />
                <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>

            </div>
            <div class="col-md-1"></div>

            <div class="col-md-3 pt-2">
                <img src="~/Upload/cobala4.jpg" width="350px" height="240" alt="" />
                <p>Góc Hoạt Động Của Bé Trong Trung Tâm </p>

            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
    @*lien he*@
    <div class="container pb-5">
        <div class="row hinhanh">
            <h2 style="text-align:center">Liên Hệ </h2>
        </div>
        <div class="row">
            <div class="col-md-3 shadow rounded phones">
                <div class="phone1">
                    <img src="~/Upload/phone.png" width="50px" height="50px" alt="" />
                    <h4>Phone</h4>
                </div>
                <a href="tel:0914134942">0914134942</a>
                <a href="tel:0338944557"> &nbsp;- 0338944557</a>

            </div>
            <div class="col-md-1"></div>

            <div class="col-md-3 shadow rounded phones">
                <div class="phone1">
                    <img src="~/Upload/gmail.png" width="50px" height="50px" alt="" />
                    <h4>Gmail</h4>
                </div>
                <a href="mailto:trungtamcobala@gmail.com">trungtamcobala@gmail.com</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 shadow rounded phones">
                <div class="phone1">
                    <img src="~/Upload/destination.png" width="50px" height="50px" alt="" />
                    <h4>Destination</h4>
                </div>
                <a href=" tel:0705060427">855/14 Nguyễn Duy Cung  Phường 12 Quận Gò Vấp  </a>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
</header>
