@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:150px">
    <h4 style="color:tomato; text-align:center;">Tăng Động Giảm Chú Ý </h4>
    <hr />
</div>
<div class="container">
    <h4><b>🍀Tăng động giảm chú ý là gì ? </b></h4>
    <p>
        Tăng động giảm chú ý (TĐGC) là một rối loạn tâm lý phổ biến ở trẻ em. Đây là tình trạng mà trẻ em có khó khăn trong việc tập trung và giữ sự chú ý trong các hoạt động hằng ngày. Ngoài ra, trẻ có xu hướng tăng động, hành động impulsively và không kiểm soát được hành vi của mình.

        Một số dấu hiệu của TĐGC ở trẻ em bao gồm:

        Khó tập trung trong các hoạt động hằng ngày
        Hay quên việc, đồ vật, tên người
        Thường xuyên chuyển đổi từng hoạt động
        Khó kiềm chế hành vi tăng động, hay nói nhiều, di chuyển nhiều
        Khó kiểm soát cảm xúc, thường xuyên bị tức giận, lo lắng
        Thường xuyên bị phân tâm, bị đánh giá kém về kết quả học tập
        Các nguyên nhân gây ra TĐGC ở trẻ em bao gồm yếu tố di truyền, chế độ ăn uống không tốt, thiếu ngủ, môi trường gia đình và xã hội bất ổn, và các rối loạn tâm lý khác.

        Việc chẩn đoán và điều trị TĐGC nên được tiến hành bởi các chuyên gia tâm lý trẻ em hoặc bác sĩ chuyên khoa trẻ em. Điều trị có thể bao gồm các phương pháp như tư vấn hành vi, dùng thuốc, chăm sóc và hỗ trợ tâm lý. Ngoài ra, bố mẹ cũng có thể tham gia vào quá trình điều trị để giúp trẻ tạo ra một môi trường tốt cho sự phát triển và học tập.
    </p>
    <h4><b>🍀Cách xử trí khi trẻ tăng động giảm chú ý</b></h4>
    <p>
        Khi gặp phải trẻ tăng động giảm chú ý, các bậc phụ huynh có thể áp dụng các cách xử trí sau:

        Tạo ra môi trường học tập và sinh hoạt thoải mái, ít gây áp lực cho trẻ. Có thể sử dụng các công cụ học tập hấp dẫn, như đồ chơi giáo dục, sách tranh...

        Tạo ra lịch trình rõ ràng, tạo sự ổn định cho trẻ. Đặt thời gian học tập, ăn uống và giấc ngủ đều đặn hàng ngày.

        Khuyến khích trẻ tập trung học tập bằng cách đưa ra những hoạt động kích thích não bộ, ví dụ như trò chơi tập trung, câu đố, giải đố.

        Hạn chế các yếu tố phân tâm như truyền hình, video game hay thiết bị điện tử.

        Không áp đặt các quy tắc quá nghiêm ngặt đối với trẻ. Thay vì đòi hỏi trẻ ngồi im trong một khoảng thời gian dài, cha mẹ có thể cho phép trẻ được di chuyển hoặc đổi hoạt động khi cảm thấy mệt mỏi.

        Tìm hiểu thêm về chế độ ăn uống và lối sống của trẻ. Nếu cần thiết, tăng cường vi chất cần thiết cho trẻ, bao gồm chất xơ và vitamin B.

        Nếu các biện pháp trên không đem lại hiệu quả, nên tìm đến các chuyên gia tâm lý hoặc bác sĩ chuyên khoa trẻ em để được tư vấn và điều trị kịp thời.

        Lưu ý rằng, việc điều trị TĐGC ở trẻ em cần thời gian và kiên nhẫn. Cha mẹ cần đồng hành và hỗ trợ trẻ trong suốt quá trình điều trị.
    </p>
    <p>
        Tâm lý trị liệu: Giúp trẻ giải tỏa căng thẳng, tập luyện tính kiên trì, học cách tổ chức và ứng xử với bạn trong khi chơi… Không nên chơi những trò chơi kích thích như chơi game ngoài tầm kiểm soát của trẻ. Các môn thể thao như đá bóng, đá cầu, nhảy dây, cầu lồng, tập bơi,… không chỉ giúp trẻ tăng cường sức khỏe, mà còn góp phần giải phóng bớt năng lượng dư thừa, giảm bớt biểu hiện hiếu động, nghịch ngợm.
    </p>
    <div class="container">
        <img src="~/Upload/cobala6.jpg" width="350" height="350" alt="" />
    </div>
</div>