@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:150px">
    <h4 style="color:tomato; text-align:center;"> Trẻ Hòa Nhập Cuộc Sống</h4>
    <hr />
</div>
<div class="container">
    <h4><b>Hòa nhập với gia đình</b></h4>
    <p>
        Trẻ cần có một môi trường gia đình ổn định và yêu thương để có thể phát triển và hòa nhập tốt hơn vào cuộc sống. Gia đình có thể giúp trẻ phát triển kỹ năng xã hội và tạo điều kiện để trẻ có thể tiếp cận với nhiều hoạt động khác nhau.<br />
    </p>
    <h4><b>Hòa nhập với bạn bè</b></h4>
    <p>
         Trẻ cần có một môi trường xã hội để phát triển kỹ năng xã hội, tạo mối quan hệ và học hỏi từ những người xung quanh. Gia đình và trường học có thể cung cấp cho trẻ những cơ hội để giao tiếp và tương tác với bạn bè cùng lứa tuổi.<br />
    </p>
    <h4><b>Hòa nhập với trường học</b></h4>
    <p>
         Trường học là một môi trường quan trọng để trẻ phát triển kỹ năng xã hội, học tập và tạo mối quan hệ với các bạn cùng trang lứa. Trường học cần tạo ra một môi trường học tập tích cực và cung cấp các cơ hội để trẻ có thể tham gia vào các hoạt động học thuật và ngoại khóa.<br />
    </p>

    <h4><b>Hòa nhập với cộng đồng</b></h4>
    <p>
        Trẻ cần học cách sống trong cộng đồng, tôn trọng và hợp tác với những người xung quanh. Gia đình và trường học có thể giúp trẻ hiểu về giá trị cộng đồng và cách tham gia vào các hoạt động xã hội.<br />
    </p>

    <div class="container">
        <img src="~/Upload/cobala5.jpg" width="350" height="350" alt="" />
    </div>
</div>