@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tretuki" style="margin-top:150px">
    <h4 style="color:tomato; font-weight:bold; text-align:center">Trẻ Tự Kỉ </h4>
    <hr />
</div>
<div class="container">
    <h4><b>🍀 Dấu hiệu trẻ tự kỷ nhẹ - Lời khuyên dành cho cha mẹ</b></h4>
    <p>
        Khó khăn trong giao tiếp xã hội: Trẻ có thể không có mối quan tâm đến người khác và không chia sẻ niềm vui hoặc nỗi buồn của mình với người khác.

        Khó khăn trong giao tiếp bằng ngôn ngữ: Trẻ có thể không nói chuyện hoặc nói rất ít, không thể tương tác bằng cách sử dụng ngôn ngữ và không hiểu ý nghĩa của từng từ khi người khác nói chuyện.<br />

        Tập trung một cách cục bộ: Trẻ có thể tập trung vào một số điều cụ thể, nhưng lại không quan tâm đến những gì xung quanh.<br />

        Hành động lặp đi lặp lại: Trẻ có thể thực hiện một số hành động lặp đi lặp lại, chẳng hạn như xoay vòng hoặc đập tay.<br />
    </p>
    <h4><b>🍀Các Triệu Chứng Của Trẻ Tự Kỷ </b></h4>
    <p>
        Các triệu chứng của trẻ tự kỷ có thể bao gồm khó khăn trong việc thiết lập mối quan hệ xã hội, thiếu khả năng giao tiếp bằng ngôn ngữ, khó khăn trong việc hiểu ý nghĩa của ngôn ngữ non verb, cảm giác khó chịu với sự thay đổi và hoạt động tập trung một cách cục bộ. Trẻ tự kỷ cũng có thể có những hành vi đặc biệt, chẳng hạn như sắp xếp đồ chơi hoặc áp dụng quy tắc rất nghiêm ngặt trong các hoạt động hàng ngày của mình.<br />

        Rối loạn tự kỷ không có nguyên nhân rõ ràng, tuy nhiên các yếu tố di truyền, môi trường và sự phát triển não bộ có thể đóng vai trò quan trọng. Hiện chưa có thuốc điều trị chữa trị trẻ tự kỷ, tuy nhiên các phương pháp hỗ trợ chuyên môn có thể giúp cải thiện triệu chứng và giúp trẻ tự kỷ phát triển tốt hơn.
    </p>
    <h4><b>🍀 Tác hại của tự kỷ dạng nhẹ đối với bé</b></h4>
    <p>
        Tự kỷ dạng nhẹ có thể ảnh hưởng đến các khả năng xã hội và hành vi của trẻ. Nếu không được chăm sóc và hỗ trợ kịp thời, các tác hại của tự kỷ dạng nhẹ đối với trẻ có thể gây ra những vấn đề sau:<br />

        Khó khăn trong giao tiếp: Trẻ tự kỷ dạng nhẹ có thể có khó khăn trong việc giao tiếp, bao gồm cả khả năng nghe và nói. Điều này có thể ảnh hưởng đến khả năng trẻ kết nối và tương tác với người khác. <br />

        Khó khăn trong kỹ năng xã hội: Trẻ tự kỷ dạng nhẹ có thể gặp khó khăn trong việc phát triển kỹ năng xã hội, bao gồm khả năng chia sẻ, hợp tác và đồng cảm với người khác. Điều này có thể dẫn đến cảm giác cô đơn và cô lập.<br />

        Khó khăn trong học tập: Trẻ tự kỷ dạng nhẹ có thể gặp khó khăn trong việc học tập, đặc biệt là trong các hoạt động nhóm và những nhiệm vụ đòi hỏi sự tương tác xã hội. Họ cũng có thể gặp khó khăn trong việc điều chỉnh và thích ứng với các tình huống mới.<br />

        Vấn đề về cảm xúc và hành vi: Trẻ tự kỷ dạng nhẹ có thể gặp khó khăn trong việc quản lý cảm xúc và hành vi của mình. Họ có thể thể hiện các hành vi khác thường và không thích thay đổi.<br />

        Vì vậy, việc chẩn đoán và điều trị tự kỷ dạng nhẹ càng sớm càng tốt. Nếu bạn nghi ngờ rằng con của bạn có tự kỷ, hãy tìm kiếm sự giúp đỡ từ các chuyên gia tâm lý học hoặc bác sĩ chuyên khoa để có những giải pháp hỗ trợ phù hợp.<br />
    </p>
    <h4><b>🍀Cách chăm sóc trẻ tự kỷ nhẹ</b></h4>
    <p>
        Việc chăm sóc trẻ tự kỷ nhẹ đòi hỏi sự tập trung và kiên nhẫn của cha mẹ. Dưới đây là một số cách giúp cha mẹ chăm sóc con mình tự kỷ nhẹ: <br />

        Tạo một môi trường ổn định và an toàn: Trẻ tự kỷ nhẹ thường rất nhạy cảm với sự thay đổi và có thể gặp khó khăn trong việc thích ứng với những tình huống mới. Tạo một môi trường ổn định và an toàn cho con là rất quan trọng để giúp con cảm thấy thoải mái và an toàn. <br />

        Hỗ trợ giao tiếp: Việc giao tiếp là rất quan trọng đối với trẻ tự kỷ nhẹ. Cha mẹ nên dành thời gian để hỗ trợ con trong việc phát triển kỹ năng ngôn ngữ và giao tiếp. Các hoạt động như đọc sách, chơi cùng con, tương tác qua ngôn ngữ cơ thể và kí hiệu đơn giản có thể giúp trẻ tự kỷ nhẹ phát triển kỹ năng giao tiếp. <br />

        Khuyến khích tương tác xã hội: Trẻ tự kỷ nhẹ thường có khó khăn trong việc tương tác xã hội. Cha mẹ có thể khuyến khích con tham gia vào các hoạt động xã hội như tham gia các lớp học nghệ thuật, thể dục thể thao, đi du lịch hoặc tham gia các hoạt động nhóm. <br />

        Cung cấp hỗ trợ giáo dục đặc biệt: Trẻ tự kỷ nhẹ có thể cần hỗ trợ giáo dục đặc biệt để phát triển các kỹ năng và năng lực của mình. Hãy tìm kiếm các trường học, các trung tâm giáo dục hoặc các chương trình hỗ trợ giáo dục đặc biệt để giúp con phát triển tốt hơn. <br />

        Hỗ trợ thực hành kỹ năng xã hội: Cha mẹ có thể giúp con phát triển các kỹ năng xã hội bằng cách dành thời gian để giải thích các kỹ năng xã hội cơ bản như cách chào hỏi, nói lời tạm biệt, chia sẻ và hợp tác. Các hoạt động như chơi cùng con, <br />
    </p>
    <div style="text-align:center">
        <img src="~/Upload/cobala1.jpg" alt="" width="350" height="350" />
    </div>
</div>