@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model Cobala.Models.Tintuc
<form method="post" asp-controller="new" asp-action="addnew" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12 ml-5 m-5">
            <h1 style="color:tomato">News  </h1>
            <div class="row">
                <div class="col-md-6">
                    <p>Name New</p>
                    @*<input type="text" asp-for="Name" class="form-control">*@
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Photo</p>
                    @*<input type="file" asp-for="Photo" class="form-control">*@
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Decripition</p>
                    @*<textarea type="text" asp-for="Description" class="form-control"></textarea>*@
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row mt-5">
                @*<div class="col-md-3">
                <p>Status</p>
                <input type="checkbox" asp-for="Status" checked />
                </div>*@
                <div class="col-md-3">
                    <button type="submit" value="upload" class="btn btn-primary">Add New</button>
                    <label></label>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
            @TempData["msg"]

        </div>
    </div>
</form>